{#
    Ca c'est une vue
    Ici elle étend la vue principal qui est dans app/ressources/views
    Donc on aura déjà un partie de vue créer ensuite on va remplir les bloc de cette vue étendu
#}
{% extends "::base.html.twig" %}

{#
    Ici on dit que le block body de notre vue étendu va prendre tout ce qui suit
#}
{% block body %}
    <div id="page-wrapper">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-th-list"></i> Edition de rapport</h3>
                </div>
                <div class="panel-body">
                {{form_start(form)}}
                    <div >
                       
                       
                           {{form_widget(form.btnSiteGeo, {'attr': {'class': 'btn btn-default sameSize'}}) }}                                                 
                           {{ form_widget(form.siteGeo, {'attr': {'class': 'form-control'}}) }}
                   
                      
                            {{ form_widget(form.btnBienFinGar, {'attr': {'class': 'btn btn-default sameSize '}}) }}
                   
                          
                            {{form_widget(form.btnMatEtat, {'attr': {'class': 'btn btn-default sameSize'}}) }}                        
                            {{ form_widget(form.etatMat, {'attr': {'class': 'form-control '}}) }}
                            
                        
                            {{form_widget(form.btnListLog, {'attr': {'class': 'btn btn-default sameSize '}}) }}
                        
                        
                        
                    </div>
                    {{form_end(form)}}
                        
                        
                        
                    
                </div> 
            </div>
        </div>
    
{% endblock %}