<body>
<br/>     

     <img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('Images/logo.jpg')}}">
 <br/> 
 <h3 style="text-align: center;"> Liste des Logiciels</h3>

<br/> 
   <table class="table table-striped" style="width: 100%; font-size: 14px; border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;border-color: gray;margin: auto;">
                                <thead>
                                    <tr>
                                        <th>Nom du logiciel</th>
                                        <th>Nom editeur</th>
                                        <th> version</th>
                                        <th> licence </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for logiciels in logiciel %}
                                       
                                        <tr>
                                            <td>{{ logiciels.nomLog }}</td>
                                            <td>{{ logiciels.nomEditeur }}</td>
                                            <td>{{ logiciels.versionLog}}</td>
                                           <td>{{  logiciels.licence}}</td>
                                        </tr>
                                   
                                    {% endfor %}
                                </tbody>
            </table>
                <br/>
 </body>