<body>    
<br/>     

     <img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('Images/logo.jpg')}}">
 <br/> 

    <h3 style="text-align: center;"> Matériel</h3>


   {% for e in etat  %}

        {% set existe = '' %}
          {% for materiel in materiels %}
            {% if materiel.numEtat.id==e.id %}
                   {% set existe = 'true' %}
            {% endif %}
        {% endfor %}
    {% if existe %}    
    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 style="text-align: center;"><i class="fa fa-laptop"></i> {{e.libelleEtat}}</h3>
            </div>
            <table class="table table-striped" style="width: 100%; font-size: 14px; border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;border-color: gray;margin: auto;">
                <thead>
                    <tr>
                        <th>Nom du matériel&nbsp;&nbsp;</th>
                        <th>Lieu&nbsp;&nbsp;</th>
                        <th> Statut </th>
                        <th> Date de fin de Garantie </th>
                    </tr>
                </thead>
                <tbody>
                    {% set l =1 %}
                     {% for materiel in materiels %}
                        {% if  materiel.numEtat.id==e.id %}
                        <tr {%if l ==2 %}style="background:#EEE" {% set l=1%}{%else%}{% set l=2%}{%endif%}>
                            <td>{{ materiel.nomMat }}</td>
                            <td>{{ materiel.getNumSite.nomSite }}</td>
                           <td>{{  materiel.numStatut.libelleStatut}}</td>
                           <td style="border-top: solid black; text-align: center;">{{  materiel.dateGarantie|date("d/m/Y")}}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}           
    {% endfor %}
    </body>