<body>
<br/>     

     <img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('Images/logo.jpg')}}">
 <br/> 
 <h3 style="text-align: center;"> Liste des Logiciels</h3>

<br/> 
   <table class="table table-striped" style="width: 100%; font-size: 14px; border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;border-color: gray;margin: auto;">
                                <thead>
                                    <tr>
                                        <th><b>Nom du logiciel &nbsp;&nbsp;</b></th>
                                        <th><b>Nom editeur</b>&nbsp;&nbsp;</th>
                                        <th><b> Version</b>&nbsp;&nbsp;</th>
                                        <th><b> Licence </b>&nbsp;&nbsp;</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set l =1 %}
                                    {% for logiciels in logiciel %}
                                       
                                        <tr {%if l ==2 %}style="background:#EEE" {% set l=1%}{%else%}{% set l=2%}{%endif%}>
                                            <td>{{ logiciels.nomLog }}</td>
                                            <td>{{ logiciels.nomEditeur }}</td>
                                            <td>{{ logiciels.versionLog}}</td>
                                           <td>{{  logiciels.licence}}</td>
                                        </tr>
                                   
                                    {% endfor %}
                                </tbody>
            </table>
                <br/>
 </body>