<br/>     

     <img src="{{app.request.scheme ~'://' ~ app.request.httpHost ~ asset('Images/logo.jpg')}}">

    <br/>
    <div >     
        <div >
            <div >
                  
                <div >
                    <h3 style="text-align: center;">Matériel</h3>
                </div>
                <div >
                    {% for t in type %}
                        {% set existe = '' %}
                        {% for materiel in materiels %}
                            {% if materiel.numType.id==t.id %}
                                   {% set existe = 'true' %}
                            {% endif %}
                        {% endfor %}
                    {% if existe %}    
                    <div >
                        <div >
                            <div >
                                <h3 style="text-align: center;"> Type : {{t.libelleType}}</h3>
                            </div>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Nom du matériel</th>
                                        <th>Lieu</th>
                                        <th> Etat</th>
                                        <th> Statut </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% set l =1 %}
                                    {% for materiel in materiels %}
                                        {% if materiel.numType.id==t.id %}
                                        <tr {%if l ==2 %}style="background:#EEE" {% set l=1%}{%else%}{% set l=2%}{%endif%}>
                                            <td>{{ materiel.nomMat }}</td>
                                            <td>{{ materiel.getNumSite.nomSite }}</td>
                                            <td>{{ materiel.numEtat.libelleEtat}}</td>
                                           <td>{{  materiel.numStatut.libelleStatut}}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    {% endif %}           
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
