{#
Ca c'est une vue
Ici elle étend la vue principal qui est dans app/ressources/views
Donc on aura déjà un partie de vue créer ensuite on va remplir les bloc de cette vue étendu
#}
{% extends "::base.html.twig" %}

{#
    Ici on dit que le block body de notre vue étendu va prendre tout ce qui suit
#}
{% block body %}
    <br/>
    
    <div class="row">     
        <div class="col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-laptop"></i> {{materiel.nomMat}}</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-laptop"></i> Détail du matériel</h3>
                            </div>
                            <div class="panel-body">
                                <p class="col-lg-8"></p>
                                <p class="col-lg-2"><button class="btn btn-default">Connexion VNC</button></p>
                                <p class="col-lg-1"><button class="btn btn-default">PING</button></p>
                                <p class="col-lg-1"><a href=""><button class="btn btn-default">Editer</button></a></p>
                                <p class="col-lg-5"><b>Type de matériel :</b> {{materiel.numType.libelleType}}</p>
                                <p class="col-lg-5"><b>Nom du matériel :</b> {{materiel.nomMat}} </p>
                                <p class="col-lg-5"><b>Etat du matériel :</b> {{materiel.numEtat.libelleEtat}} </p>
                                <p class="col-lg-5"><b>Statut du matériel :</b> {{materiel.numStatut.libelleStatut}} </p>
                                <p class="col-lg-5"><b>Site géographique :</b> {{materiel.numSite.nomSite}}</p>
                                <p class="col-lg-12"></p>
                                <div class="systeme_onglets">
                                <div class="onglets col-sm-12">
                                    <span class="onglet_0 onglet" id="onglet_1" onclick="javascript:change_onglet('1');">Carac. commerciales</span>
                                    <span class="onglet_0 onglet" id="onglet_2" onclick="javascript:change_onglet('2');">Carac. logiciels</span>
                                    <span class="onglet_0 onglet" id="onglet_3" onclick="javascript:change_onglet('3');">Carac. réseau</span>
                                    <span class="onglet_0 onglet" id="onglet_4" onclick="javascript:change_onglet('4');">Utilisateurs affectés</span>
                                    <span class="onglet_0 onglet" id="onglet_5" onclick="javascript:change_onglet('5');">Garanti</span>
                                    <span class="onglet_0 onglet" id="onglet_6" onclick="javascript:change_onglet('6');">Historique des maintenances</span>
                                </div>
                                <div class="contenu_onglets">
                                    
                                    {# 1er onglet #}
                                    <div class="contenu_onglet" id="contenu_onglet_1">
                                        <p class="col-lg-12"></p>
                                        <p class="col-lg-6"><b>Date d'achat :</b>{{materiel.numCarac.numCaracCom.dateAchat|date("d/m/Y")}}
                                        </p>
                                        <p class="col-lg-6"><b>Prix d'achat :</b>   {{materiel.numCarac.numCaracCom.prixAchat}} €                                       
                                        </p>

                                        <p class="col-lg-6"><b>N° facture :</b> 
                                           
                                        </p>
                                        <p class="col-lg-6"><b>Modèle :</b> {{materiel.numCarac.numCaracCom.libelleModele}}
                                            
                                        </p>
                                        <p class="col-lg-6"><b>Fabricant :</b> {{materiel.numCarac.numCaracCom.numFabricant.nomFabricant}}
                                            
                                        </p>
                                        <p class="col-lg-6"><b>Revendeur :</b> {{materiel.numCarac.numCaracCom.numRevendeur.nomRevendeur}}
                                            
                                        </p>
                                        <p class="col-lg-6"><b>N° immobilisation :</b> {{materiel.numCarac.numCaracCom.numImmo}}
                                            
                                        </p>
                                    </div>
                                    {# 2eme onglet #}
                                    <div class="contenu_onglet" id="contenu_onglet_2">
                                        <p class="col-lg-12">
                                        <p class="col-lg-12"></p></br>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Nom du logiciel</th> 
                                                        <th>Editeur</th> 
                                                        <th>Licence</th> 
                                                        <th>Version du logiciel</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>{{materiel.numCarac.numCaracLog.nomLog}}</td> 
                                                        <td>{{materiel.numCarac.numCaracLog.nomEditeur}}</td> 
                                                        <td>{{materiel.numCarac.numCaracLog.licence}}</td> 
                                                        <td> {{materiel.numCarac.numCaracLog.versionLog}} </td>
                                                    </tr>
                                                </tbody>                                            
                                            </table>
                                        </p>

                                    </div>
                                    {# 2eme onglet #}
                                    <div class="contenu_onglet" id="contenu_onglet_3">
                                        <p class="col-lg-12"></p>
                                        <p class="col-lg-12"><b>@MAC :</b> {{materiel.numCarac.numCaracRes.adressIp}}
                                            
                                        </p>
                                        <p class="col-lg-12"><b>@IP :</b> {{materiel.numCarac.numCaracRes.adressMac}}
                                            
                                        </p>
                                        <p class="col-lg-12"><b>@PASSERELLE :</b>{{materiel.numCarac.numCaracRes.adressPasserelle}}
                                           
                                        </p>
                                    </div> 
                                    {# 3eme onglet #}
                                    <div class="contenu_onglet" id="contenu_onglet_4">
                                        
                                        <p class="col-lg-12">
                                        <p class="col-lg-12"></p><br>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <td>Nom des utilisateurs affectés</td>
                                                    </tr>
                                                </thead>
                                                <tbody id="tabUser">

                                                </tbody>                                            
                                            </table>
                                        </p>
                                    </div>
                                    {# 4eme onglet #}
                                    <div class="contenu_onglet" id="contenu_onglet_5">
                                        <p class="col-lg-12"></p>
                                        <p class="col-lg-6"><b>Date de fin de garanti :</b> {{materiel.dateGarantie|date("d/m/Y")}}
                                           
                                        </p>    
                                    </div>
                                    {# 5eme onglet #}
                                    <div class="contenu_onglet" id="contenu_onglet_6">
                                        <p class="col-lg-12"><p class="col-lg-12"></p></br>
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>Date intervention</th>
                                                        <th>Objet de l'intervention</th> 
                                                        <th>Description de l'intervention</th> 
                                                        <th>Prestataire de l'intervention</th> 
                                                        <th>Cout de l'intervention</th> 
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody >
                                                    
                                                    {% for hist in materiel.historiques %}
                                                    <tr>
                                                        <td>{{ hist.dateIntervention|date("d/m/Y") }}</td> 
                                                        <td>{{ hist.objetIntervention }}</td> 
                                                        <td>{{ hist.descIntervention }}</td> 
                                                        <td> {{ hist.prestataireIntervention }} </td>
                                                        <td> {{ hist.coutIntervention }} </td>
                                                    </tr>
                                                    {% endfor %}

                                                </tbody>                                            
                                            </table>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<script type="text/javascript">
        var anc_onglet = '1';
        change_onglet(anc_onglet);
    </script>
{% endblock %}