{% extends "::base.html.twig" %}

{% block body %}
    <br/>
    <div class="row"> 
        <div class="col-lg-10">
                    <div class="col-lg-5">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title"> Modification compte Administrateur </h3>
                            </div>
                            <br>
                            
                                <div class="center-block">
                                    {{ form_start(form,{'attr': {'class': 'col-lg-5'}}) }}
                                        {{ form_widget(form.nom, {'attr': {'class': 'form-control','placeholder':'Nom Administrateur'}}) }}
                                        <div class="col-lg-10"></div>
                                        {{ form_widget(form.ancienMDP, {'attr': {'class': 'form-control','placeholder':'Ancien mot de passe'}}) }}
                                        <div class="col-lg-10"></div>
                                        {{ form_widget(form.newMDP, {'attr': {'class': 'form-control','placeholder':'Nouveau mot de passe'}}) }}
                                        <div class="col-lg-10"></div>
                                        {{ form_widget(form.confMDP, {'attr': {'class': 'form-control','placeholder':'Confirmation du nouveau mot de passe'}}) }}
                                        <br>
                                        <div class="">
                                        {{ form_widget(form.Enregistrer, {'attr': {'class': 'btn btn-defaut'}}) }}
                                        </div>
                                        <div class="col-lg-10"></div>
                                        <div class="col-lg-10"></div>
 
                                    {{ form_end(form) }}
                                </div>
                            <br>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
