{% extends "::base.html.twig" %}

{% block body %}
    <br/>
    <div class="row"> 
        <div class="col-lg-12">
            {{ form_start(form) }}
            <h1>Editer</h1>
            <br/>
            <div class="col-lg-6">
                <label> {{ categorie }} : </label>
                {{ form_widget(form.nom , {'attr': {'class': 'form-control' }}) }}
                <br/>
                {{ form_widget(form.Modifier, {'attr': {'class':'btn btn-warning' }}) }}
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
