{% extends "::base.html.twig" %}

{% block body %}
    <br/>
    <div class="row">   
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-cog"></i> Paramétrages </h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-12">
                        <div class="row"> 
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Catégories</th>
                                        <th>Opérations</th>   
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Gérer les types</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'types' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_modifParam', { 'categorie': 'types' }) }}'>
                                                <button class="btn btn-warning">
                                                    Modifier <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                          
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'types' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer les statuts</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'statuts' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'statuts' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer les états</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'etats' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'etats' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer les utilisateurs</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'Utilisateur' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'Utilisateur' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer les sites géographique</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'siteGeo' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'siteGeo' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer les fabricants</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'fabricant' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'fabricant' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer les revendeurs</td>
                                        <td>
                                            <a href ='{{ path('parc_info_ajoutParam', { 'categorie': 'revendeur' }) }}'>
                                                <button class="btn btn-success">
                                                    Ajouter <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                            <a href ='{{ path('parc_info_suppression', { 'categorie': 'revendeur' }) }}'>
                                                <button class="btn btn-danger">
                                                    Supprimer <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
                                                </button>
                                            </a>
                                        </td>   
                                    </tr>
                                    <tr>
                                        <td>Gérer la session d'administration</td>
                                        <td>
                                            <a href ='{{ path('parc_info_modifadmin') }}'>
                                                <button class="btn btn-success">
                                                    Gérer
                                                </button>
                                            </a>
                                            
                                        </td>   
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
